<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Busca tu mascota</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex justify-center items-center">
  <h1 class="text-3xl font-bold text-blue-700">Bienvenido a busca tu mascota</h1>
</body>
</html>
